﻿@using CSVCategoryList.Models
@model List<CategoryModel>

@*Razor solution for displaying category tree  *@
@{
    ViewBag.Title = "CategoryList";
}

<h2>Category list</h2>

<p>
    @Html.ActionLink("Back to upload", "Index")
</p>
@if (Model != null)
{
    @DisplayTree(Model.Where(e => e.Pid == null).OrderBy(e => e.ID));
}




@helper DisplayTree(IEnumerable<CSVCategoryList.Models.CategoryModel> elements)
{
        <ul>
            @foreach (var element in elements)
            {
                <li>
                    @element.Name
                    @{
                        var children = Model.Where(e => e.Pid == element.ID).OrderBy(e => e.ID);
                        if (children.Count() > 0)
                        {
                            @DisplayTree(children.ToList())
                        }
                    }
                </li>
            }
        </ul>
}