﻿@{
    ViewBag.Title = "Upload";
}

<h2>Upload file</h2>
<div ng-app="CsvApp" ng-controller="UploadController">
    <div class="grid">
        <div class="row">
            <form novalidate name="uploadForm" ng-submit="SaveFile()" class="float-left">
                <div style="color: red">{{Message}}</div>
                <div class="form-group">
                    <label for="file" class="col-md-2 control-label">Select File :</label>
                    <div class="col-md-10">
                        <input type="file" name="file" accept=".csv" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                        <span class="error">{{FileInvalidMessage}}</span>
                        <span class="error" ng-show="(uploadForm.file.$dirty || IsFormSubmitted) && uploadForm.file.$error.required">File required!</span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2 top-offset-15">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row top-offset-15">
            <script type="text/ng-template" id="nodes_renderer">
                <div ui-tree-handle>
                    {{node.Data.Name}}
                </div>
                <ul ui-tree-nodes="" ng-model="node.Children">
                    <li ng-repeat="node in node.Children" ui-tree-node ng-include="'nodes_renderer'">
                    </li>
                </ul>
            </script>
            <div ui-tree ng-show="showCategories">
                <ul ui-tree-nodes="" ng-model="categories" id="tree-root">
                    <li ng-repeat="node in categories" ui-tree-node ng-include="'nodes_renderer'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-tree.js"></script>
    <script src="~/AngularJs/js/App.js"></script>
    <script src="~/AngularJs/js/UploadController.js"></script>

}

